<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodConcept.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD54BCC21EF976030096A3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD54BCD91EF976040096A3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD54BCE41EF976040096A3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
